arch:
  - amd64
  - ppc64le
language: ruby
cache: bundler
rvm:
  - 2.5
  - 2.6
  - 2.7

before_install:
  - gem uninstall -v '>= 2' -i $(rvm gemdir)@global -ax bundler || true
  - gem install bundler -v '< 2'
